main {
  width: 100vw;
  height: 100vh;
  background-color: #201b2c;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.leftLogin {
  width: 50vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & > h1 {
    color: #77ffc0;
    font-weight: 600;
    font-size: 2vw;
  }
  & img {
    width: 28vw;
  }
}

.rightLogin {
  width: 50vh;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardLogin {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1.8rem 2.25rem;
  background-color: #2f2841;
  border-radius: 1.5rem;
  box-shadow: 0px 10px 40px #00000056;
  & h2 {
    color: #00ff88;
    font-weight: 600;
    font-size: 2.5rem;
    margin-bottom: 0.8rem;
  }
}

@media (max-width: 950px) {
  main {
    flex-direction: column;
    gap: 1rem;
  }
  .leftLogin{
    width: 100%;
    height: auto;
    & h1 {
      display: none;
    }
    & img{
      width: 50vw;
    }
  }
  .rightLogin{
    width: 100%;
    height: auto;
  }
  .cardLogin {
    width: 90%;
  }
}
